@model CategoryCreateModel

<form asp-action="create" asp-controller="category" method="post">
    <div class="mb-3">
        <label asp-for="@Model.Definition" class="form-label">Definition</label>
        <input asp-for="@Model.Definition" class="form-control">
        <span asp-validation-for="@Model.Definition" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>